extends base.pug
include mixins/list.pug
block content 

    head 
        link(rel="stylesheet" href="/css/watch.css")
        title=boardName

    p.boardTitle #{boardName} 게시판

    .watch
        .content#postContainer(data-id=post._id) 
            .head
                .postedTitle
                    p #{post.title}
                .postedDate
                    .imgBox   
                        img(src="/images/icon_watch_profile.png")
                    .dataBox
                        p #{post.owner.userid}
                        p #{post.createdAt.getMonth()}월 #{post.createdAt.getDate()}일 #{post.createdAt.getHours()}시 #{post.createdAt.getMinutes()}분  

            .body
                textarea(disabled, maxlength = "500") #{post.text}
            if loggedInUser.id == idPosting
                a(href=`` + post._id + `/delete`) 
                    button.deletePost 글삭제
        .post__add-comments 
            form.post__comment-form#commentForm
                //- textarea(cols="30", rows="10", placeholder="좋은 글을 작성해주세요!")
                input 
                button 댓글 작성
        .post__comments
            table 
                each comment in post.comments.reverse()
                    tr
                        td.post_comment=comment.text
                        td=comment_userid
                        td=comment_createdAt
 
    script(src="/js/watch.js") 
    script(src="/js/commentSection.js") 